$green: #27ce00;
$dark-green: #009739;
$dark-gray: #495965;
$background-gray: #ebebeb;
$text-dark-gray: #1b1b1b;
$text-light-gray: #565656;

body {
    font-family: 'Nunito', sans-serif;
    color: $text-dark-gray;
    background-color: white;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}


.top-header {
    background: $dark-gray;
    padding-right: 20px;
    min-width: 300px;

    .content {
        max-width: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 10px;
        row-gap: 10px;

        .primary-menu, .secondary-menu {
            display: flex;
        }

        .primary-menu {
            display: flex;
            flex-grow: 1;
            margin-right: 20px;
            color: white;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;

            .menu-item {
                padding-top: 18px;
                padding-bottom: 18px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: $green;
            }
            .menu-item:hover, .menu-item.active {
                background-color: $background-gray;
            }
            .menu-account {
                background-color: $dark-green;
                padding: 18px 18px; /* Ajoute de l'espace interne */
                background-image: url('../image/account-logo.png'); /* Chemin vers l'image */
                background-repeat: no-repeat; /* Empêche la répétition de l'image */
                background-position: 5px center; /* Place l'image à gauche, centrée verticalement */
                background-size: 40px 45px; /* Redimensionne le logo */
                padding-left: 50px; /* Laisse de l'espace pour le logo */
            }
            .menu-tel-logo {
                padding-bot: 18px; /* Ajoute de l'espace interne */
                padding-top: 18px; /* Ajoute de l'espace interne */
                font-weight: 350;
                background-image: url('../image/tel.png'); /* Chemin vers l'image */
                background-repeat: no-repeat; /* Empêche la répétition de l'image */
                background-position: 20px center; /* Place l'image à gauche, centrée verticalement */
                background-size: 13px 13px; /* Redimensionne le logo */
                padding-left: 50px; /* Laisse de l'espace pour le logo */
                padding-right: 5px; /* Ajoute de l'espace interne */
                &:hover{
                    color: $green;
                }
            }
            .menu-tel{
                font-weight: 350;
                padding-top: 18px; /* Ajoute de l'espace interne */
                padding-bot: 18px; /* Ajoute de l'espace interne */
                &:hover{
                    color: $green;
                }
            }
            .menu-tel-body{
                font-weight: 300;
                padding-top: 18px; /* Ajoute de l'espace interne */
                padding-bot: 18px; /* Ajoute de l'espace interne */
                padding-right: 5px; /* Ajoute de l'espace interne */
            }
        }
        .secondary-menu {
            display: flex;
            color: white;
            flex-grow: 1;
            margin-left: 100px;
            color: white;
            font-weight: 350;
            font-size: 16px;
            cursor: pointer;
            .menu-fb{
                padding: 17px 17px; /* Ajoute de l'espace interne */
                background-image: url('../image/f_logo_green.png'); /* Chemin vers l'image */
                background-repeat: no-repeat; /* Empêche la répétition de l'image */
                background-position: 15px center; /* Place l'image à gauche, centrée verticalement */
                background-size: 25px 25px; /* Redimensionne le logo */
                padding-left: 50px; /* Laisse de l'espace pour le logo */
                padding-right: 5px; /* Ajoute de l'espace interne */
            }
        }
    }
}


/* Logo */
.logo-me {
    display: flex;
    width: 350px;
    height: 100px;
    background-image: url('../image/logo-maison-des-eleves.png');
    background-size: 350px, 150px;
    background-repeat: no-repeat;
    background-position: 0px;
    margin-left: 35px; /* Center the logo horizontally */
    margin-top: 35px; /* Center the logo horizontally */
}
.logo-washing-mechine {
    width: 350px;
    height: 350px;
    background-image: url('../image/logo-washing-mechine.png');
    background-size: 700px, 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto; /* Center the logo horizontally */
}

/* Tabs */
.tabs {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    padding-left: 100px;

    .menu {
        max-width: 1070px;
        margin: auto;
        display: flex;
        background-color: white;
        cursor: pointer;

        .menu-item {
            font-size: 18px;
            padding: 15px 20px;
            font-weight: 300;
            text-align: center;
            border-radius: 5px;
            &:hover {
                font-weight: 800;
                color: dark;
            }
            &.active {
                font-weight: 600;
                color: white;
                background-color: $green;
            }
        }
    }
}

.page-content {
    max-width: 1070px;
    margin-left: auto;
    margin-top: 20px;

    display: flex;
    column-gap: 20px;

    .panel {
        width: 80%;

        .title {
            font-size: 36px;
            font-weight: 500;
            color: white;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .card {
                height: 230px;
                border-radius: 15px;
                background-color: $dark-gray;
                padding-top: 15px;
                padding-left: 30px;
                padding-right: 30px;
                flex-basis: 40%;
                flex-grow: 0;

                .title {
                    font-weight: 600;
                    font-size: 20px;
                }
                .content {
                    display: flex; /* Organise l'image et les textes côte à côte */
                    align-items: center; /* Centre verticalement l'image et les textes */
                    gap: 20px;

                    .illustration {
                        background-image: url('../image/Machine_a_laver.png');
                        background-size: 95%;
                        background-color: $background-gray;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 150px;
                        width: 150px;
                        border-radius: 10px;
                    }

                    .text-content {
                        display: flex;
                        flex-direction: column; /* Organise les textes verticalement */
                        gap: 10px;

                        .availability, .remaining-time {
                            font-weight: 400;
                            font-size: 16px;
                            color: white;
                            &:hover{
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 836px) {
    .top-header {
        padding: 0px;

        .content {
            justify-content: center;

            .secondary-menu {
                flex-grow: 1;
            }
        }
    }
}

/* Rules for mobile screen */
@media screen and (max-width: 480px) {
    .top-header {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
        padding-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        flex-direction: row;

        .burger-icon {
            display: block;
            margin-right: 0px;
        }

        .burger-icon.active {
            background-image: url(../assets/img/close_menu_icon.png);
        }

        .burger-icon:hover {
            cursor: pointer;
        }

        .content {
            justify-content: right;
            flex-wrap: wrap-reverse;
            flex-direction: row;
            display: none;
            row-gap: 0px;
            margin: 0px;
            background-color: $green;

            .logo {
                display: none;
            }

            .primary-menu, .secondary-menu {
                flex-wrap: wrap;
                margin: 0px;

                .menu-item {
                    color: white;
                    background-color: $green;
                    width: 100%;
                    border-bottom: 1px solid $dark-green;
                    border-radius: 0px;
                    font-weight: 400;
                }

                .menu-item:hover {
                    background-color: $dark-green;
                }

                .menu-item.active {
                    font-weight: 600;
                    background-color: $green;
                }
            }
        }

        .content.active {
            display: flex;
        }
    }

    .page-content {
        margin-top: 0px;

        .left-panel {
            display: none;
        }

        .right-panel {
            width: 85%;
            margin: auto;

            h1.title {
                font-size: 30px;
            }

            .cards {
                .card {
                    border-radius: 5px;
                    flex-basis: 100%;
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-bottom: 15px;
                    padding-right: 15px;

                    h2.title {
                        margin-top: 0px;
                        margin-bottom: 10px;
                        color: black;
                    }

                    p {
                        margin: 0px;
                        font-size: x-small;
                    }

                    p.card-link {
                        color: #acacac;
                        margin-top: 5px;
                    }

                    p.card-link:hover {
                        cursor: pointer;
                    }

                    .illustration {
                        display: none;
                    }
                }
            }
        }
    }
}
